{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "modules": false
    }
    }],
    "react"
],
  "plugins": [
    "declarity-babel-hot-loader",
    "react-hot-loader/babel",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    "transform-runtime"
  ]
}
